nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}


#table-wrapper {
  position:relative;
}
#table-scroll {
  height:680px;
  overflow:auto;
  margin-top:20px;
}

#table-wrapper table thead th .text {
  position:absolute;
  top:-20px;
  z-index:2;
  height:20px;
  border:1px solid red;
}

#blurb p {
    font-size: 1.2rem;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 95px;
  height: 120px;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader2 {
  z-index: 1;
  width: 95px;
  height: 120px;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

#loader {
  display: none;
  text-align: center;
}